/*Element selector*/
.mytitle{
  color:red
}
.completed{
  text-decoration: line-through;
}

#jubilife{
  color:green;
}
#style_me{
  color:red;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

span{
  font-weight: bold;
}
ul{
  /*list-style-image: url("gifs/kyoob2.gif");*/
  padding: 5px;
  margin: 5px;
}
